.App {
  display: flex;
  height: 100vh;
  background-color: #020230;
  color: white;

  .main {
    width: 75%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
      url("./assets/bg.jpg") center;
    display: flex;
    flex-direction: column;

    .top {
      height: 60%;
      position: relative;

      .info {
        font-weight: 400;
        padding: 10px;
      }

      .timer {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 4px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-weight: 700;
        position: absolute;
        left: 80px;
        bottom: 10px;
      }
    }

    .bottom {
      height: 40%;
    }

    .result {
      position: relative;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .playAgain {
        margin-top: 10px;
        font-weight: 300;
        background: transparent;
        color: white;
        padding: 10px;
        border: 1px solid white;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
      }
    }
  }

  .main.w100OnStop {
    width: 100%;
  }

  .pyramid {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

    .moneyList {
      list-style: none;
      width: 100%;
      padding: 20px;

      .moneyListItem {
        display: flex;
        align-items: center;
        padding: 5px;
        .moneyListItemNumber {
          font-size: 18px;
          font-weight: 100;
          width: 30%;
        }

        .moneyListItemAmount {
          font-size: 20px;
          font-weight: 300;
        }
      }

      .moneyListItem.active {
        background-color: teal;
        padding: 5px;
        border-radius: 5px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .App {
    .main {
      width: 70%;
      .top {
        height: 60%;

        .timer {
          left: 60px;
          bottom: 20px;
        }
      }

      .bottom {
        height: 30%;
      }
    }

    .pyramid {
      width: 30%;

      .moneyList {
        padding: 10px;

        .moneyListItem {
          .moneyListItemNumber {
            font-size: 20px;
          }

          .moneyListItemAmount {
            font-size: 22px;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .App {
    display: flex;
    height: 100vh;
    background-color: #020230;
    color: white;

    .main {
      width: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
        url("./assets/bg.jpg") center;
      display: flex;
      flex-direction: column;

      .top {
        height: 60%;
        position: relative;

        .timer {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          border: 4px solid white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 30px;
          font-weight: 700;
          position: absolute;
          left: 80px;
          bottom: 10px;
        }
      }

      .bottom {
        height: 30%;
      }
    }

    .pyramid {
      display: none;
    }
  }
}

@media (max-width: 575.98px) {
  .App {
    .main {
      width: 100%;
      .top {
        height: 50%;
        .timer {
          width: 60px;
          height: 60px;
          left: 70px;
          bottom: 10px;
        }
      }

      .bottom {
        height: 50%;
      }

      .result {
        font-weight: 500;
        .r-info {
          font-size: 20px;
        }
      }
    }

    .pyramid {
      display: none;
    }
  }
}
